{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
{% endblock %}

{% block body %}
    <h1>Acceuil</h1>
{% endblock %}