{% extends 'base.html.twig' %}

{% block title %}Profile de {{ app.user.username }} {% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
{% endblock %}

{% block body %}
    <h1>Profile</h1>
{% endblock %}